{% extends "layout.html" %}

{% block content %}
<div class="item-container">
    {% for item in items %}
    <div class="card" style="width: 20em;">
        <img class="card-img-top" src="{{ url_for('static', filename='product_pics/'+item.image_file) }}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ item.category }}</h5>
            <p class="card-text">{{ item.description }}</p>
            <p class="card-text">Unit price ${{ item.unit_price }}</p>
            <form method='POST' action="{{ url_for('place_order', item_id=item.id) }}">
                {{ order_form.hidden_tag() }}
                <fieldset class="form-group">
                    {{ order_form.quantity.label(class="form-control-label") }}
                    {{ order_form.quantity(class="form-control") }}
                    {{ order_form.submit(class="btn btn-outline-info") }}
                </fieldset>
            </form>
            <form method='POST' action="{{ url_for('add_to_cart', item_id=item.id) }}">
                {{ cart_form.hidden_tag() }}
                <fieldset class="form-group">
                    {{ cart_form.quantity.label(class="form-control-label") }}
                    {{ cart_form.quantity(class="form-control") }}
                    {{ cart_form.submit(class="btn btn-outline-info") }}
                </fieldset>
            </form>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}