{% extends "layout.html" %}

{% block content %}
<div class="item-container">
    {% for item in items %}
    <div class="card" style="width: 20em;">
        <img class="card-img-top" src="{{ url_for('static', filename='product_pics/'+item.image_file) }}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ item.category }}</h5>
            <p class="card-text">{{ item.description }}</p>
            <p class="card-text">Unit price ${{ item.unit_price }}</p>
            <form method='POST' action="{{ url_for('place_order', item_id=item.id) }}">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <div class="form-group">
                        {{ form.quantity.label(class="form-control-label") }}
    
                        {% if form.quantity.errors %}
                            {{ form.quantity(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.quantity.errors %}
                                    <span> {{ error }} </span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.quantity(class="form-control") }}
                        {% endif %}
                        {{ form.submit(class="btn btn-outline-info") }}
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}