{% extends "admin/home.html" %}

{% block nav %}
    <a class="nav-item nav-link" href="{{ url_for('new_model', model_name='item') }}">New Item</a>
{% endblock nav %}

{% block content %}


<table class="table table-bordered">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
        <th scope="col">ID</th>
        <th scope="col">Category</th>
        <th scope="col">Description</th>
        <th scope="col">Image File</th>
        <th scope="col">Unit Price</th>
    </tr>
    </thead>
    <tbody>
    {% for item in items %}
        <tr class="table-row" data-href="#">
            <td><a href="{{ url_for('update_item', item_id=item.id) }}"><i class="far fa-edit"></i></a></td>
            <td><form class="delete-item-form" action="{{ url_for('delete_model_instance', model_name='item', instance_id=item.id) }}" method="POST"><button type="submit" class="delete-button"><i class="far fa-trash-alt"></i></button></form></td>
            <th scope="row">{{ item.id }}</th>
            <td>{{ item.category }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.image_file }}</td>
            <td>{{ item.unit_price }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}